* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.hover-example {
    border: 1px solid black;
    width: 10em;
    height: 10em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    padding: 2em;
}

.hover-example:hover {
    background-color: blueviolet;
    width: 12em;
    height: 12em;
}